
/dashboard
applications.html
bitnami.css
/firstGame/index_files/assets/restOfAssets
/game/index_files/assets/restOfAssets
img/module_table_bottom.png
img/module_table_top.png
*.zip
/wordpress
/xampp
